.heading{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: 180px;
  padding-top: 30px;
}
.intro{
  text-align: center;
}
.location{
  text-align: center;
}
.pizza{
  margin-left: 30%;
  margin-right: 30%;
}
#header{
  text-align: center;
}

.form{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.select{
text-align: center;
}
#logo{
  padding-top: 20px;
}
.container{
  font-family: serif;
background-image: url(../images/maks.jpg);
  font-size: 15px;
  font-weight: 100;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}
#select{
  background: transparent;
  color: white;
}
#s, #sc, #ss, #sg, #l, #lc, #ls, #lg, #m, #mc, #ms, #mg{
  background: black;
}
#name{
  background: transparent;
  color: white;
}
