body{
}
.heading{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: 150px;
  padding-top: 0px;
}
.heading h3{
  font-weight: bolder;
  color: white;
  color: white;
}
.intro{
  text-align: center;
  color: white;
  font-size: 17px;

}
.location{
  text-align: center;
  color: white;
  font-size: 17px;

}
.intro h5{
  font-weight: bolder;
  font-size: 20px;
  color: white;
}
.location h5{
  font-weight: bolder;
  font-size: 20px;
  color: white;

}
.pizza{
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-size: 17px;

}

#header h5{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: white;

}

.form{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.select{
text-align: center;
color: white;
font-size: 17px;

}
#logo{
  padding-top: 20px;
}
.contain{
  font-family: monospace;
  background-image: url(../images/maks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#select{
  background: transparent;
  color: white;
}

#name{
  background: transparent;
  color: white;
}
#s, #sc, #ss, #sg, #lg, #lc, #l, #ls, #m, #mc, #ms, #mg{
  background: black;
  color: white;
}
.story{
  display: none;
  text-align: center;
}
.navbar{
  padding-top: 20px;
  height: 70px;
  font-size: 20px;
  background-color: #55d6aa;
  display: block;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(14, 36, 49, .15);
  overflow: hidden;
  font-weight: bold;
}
.navbar li {
  display: inline-block;
  margin: 0 9.5%;
}
ul{
list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: #444;
}
.active{
  color: blue;
}

.footers{
  text-align: center;
  background-color: darkred;
  color: white;
  font-family: monospace;
  font-size: 15px;
  height: 750px;
}
.footer{
  margin-bottom: 0%;
}
.news, .contact, .about, .footer__social, .footer__title, .number{
  padding-top: 40px;
}
.news h4, .about h4, .contact h4, .footer__title{
  font-size: 20px;
  font-weight: bold;
}
.footer__icon{
  color: white;
  font-size: 25px;
}
.copy{
font-family: Georgia;
font-size: 16px;
padding-top: 50px;

}
#pay{
  background-color: skyblue;
  width: 300px;
}
.payment{
  padding-top: 40px;
  text-align: center;
}
#pay{
  border-radius: 4rem;
  animation: animate 5s infinite;
}
@keyframes animate {
  0%{
    background-color: indigo;
  }
  30%{
    background-color: darkslategrey;
    color: white;
  }
  50%{
    background-color: violent;
  }
70%{
  background-color: blue;
  color: white;
}
90%{
  background-color: red;
}
100%{
  background-color: slategrey;
  color: white;

}
}
#output{
  color:white;
  font-size: 30px;
}
