.heading{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: 150px;
  padding-top: 0px;
}
.intro{
  text-align: center;
}
.location{
  text-align: center;
}
.pizza{
  margin-left: 30%;
  margin-right: 30%;
}
#header{
  text-align: center;
}

.form{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.select{
text-align: center;
}
#logo{
  padding-top: 20px;
}
.container{
  font-family: serif;
background-image: url(../images/maks.jpg);
  font-size: 15px;
  font-weight: 100;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}
#select{
  background: transparent;
  color: white;
}

#name{
  background: transparent;
  color: white;
}
#s, #sc, #ss, #sg, #lg, #lc, #l, #ls, #m, #mc, #ms, #mg{
  background: black;
  color: white;
}
.story{
  display: none;
  text-align: center;
}
.navbar{
  columns: 4;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: bolder;
  background-color: lightgreen;
  background-position: center;
  background-size: contain;
  width: 1058px;
  color: darkblue;
}
